.search-form {
    width: 1200px;
}

#loginDropdown.btn-primary {
    background-color: #CBB79A; 
    border-color: #CBB79A;
    color: #fff;
}
#loginDropdown.btn-primary:hover, 
#loginDropdown.btn-primary:focus {
    background-color: #cfb07f; 
    border-color: #CBB79A;
    color: #fff;
}

body {
    background-color: #FDF8F3 !important;
}

.navbar.bg-body-tertiary {
    background-color: #E4D1B9 !important;
}

.custom-search-btn {
    background-color: #b69975 !important; 
    border-color: #b09e7a !important;     
    color: #fff !important;               
    border-width: 2px !important;
    border-style: solid !important;
    box-shadow: none !important;         
}
.custom-search-btn:hover,
.custom-search-btn:focus {
    background-color: #b09e7a !important;
    border-color: #8c7a5a !important;
    color: #fff !important;
}

.search-form input[type="search"] {
    flex-grow: 1;
}

.imgCarousel {
    width: 80vw;         
    max-width: 1000px;    
    height: 400px;       
    margin: 40px auto;  
    display: block;
    object-fit: cover;   
    border-radius: 18px; 
}

.custom-carousel {
    position: relative;
    width: 80vw;
    max-width: 1000px;
    margin: 40px auto;
}

.custom-carousel .carousel-control-prev {
    left: 0;
}

.custom-carousel .carousel-control-next {
    right: 0;
}

@media (min-width: 768px) {
    .search-bar-container {
        min-width: 1500px !important;
        max-width: 2000px !important;
    }
}


.btn.btn-volver-catalogo {
    background-color: #CBB79A !important;
    border-color: #CBB79A !important;
    color: #fff !important;
}
.btn.btn-volver-catalogo:hover,
.btn.btn-volver-catalogo:focus {
    background-color: #cfb07f !important;
    border-color: #CBB79A !important;
    color: #fff !important;
}